<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 加载属性文件 -->
    <properties resource="mybatis/jdbc.properties"></properties>
    <typeAliases>
        <!--
        使用别名
        <typeAlias type="mybatis.eneity.User" alias="user"/>
        -->
        <!-- 批量别名定义
        指定包名，mybatis自动扫描包中的pojo类，自动定义别名，别名就是类名
        -->
        <package name="mybatis.eneity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 加载映射文件-->
    <mappers>
        <mapper resource="mybatis/mapper/UserDao.xml"/>
        <mapper resource="mybatis/mapper/AdminDao.xml"/>
    </mappers>
</configuration>

<!--
properties

将数据库的连接参数单独配置在db.properties中，只需要在sqlMapConfig.xml中加载db.peoperties的属性值
在sqlMapConfig.xml中就不需要对数据库连接参数硬编码
将数据库连接参数只配置在db.properties中，原因：方便对参数统一管理，方便其他xml调用
建议：
不要在properties元素体内添加任何属性值，只将属性值定义在properties文件中
在properties文件中定义属性名要有一定的特殊性，如：xxxx.xxx

-->